/* Computer Modern Serif Roman  */
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/cmu.bright-roman.ttf') format('truetype')
}
/* Computer Modern Serif Bold */
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(''),
       url('fonts/cmu.bright-roman.ttf') format('truetype')
}
/* Computer Modern Serif Italic */
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local(''),
       url('fonts/cmunit.ttf') format('truetype')
}

/* Computer Modern Bright SemiBold */
@font-face {
  font-family: 'Computer Modern Bright';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('fonts/cmu.bright-roman.ttf') format('truetype')
}

/* Hack */
@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/Hack-Regular.ttf') format('truetype'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}


body {
  font-family: 'Computer Modern Serif', serif;
}

title {
  font-family: 'Computer Modern Bright', sans-serif;
}

code {
  font-family: 'Hack', monospace;
}
